@charset "utf-8";

body { text-align:center; }


/* search */
.s_cont { margin-top:15%; }
.logo { width:310px; height:103px; background:url(../indeximages/logo2.png) no-repeat; margin:0 auto; }

.search { 
	width:30%;
	height:50px; 
	margin:0 auto;
	background:#fff;
	border-top:#ccc 1px solid; 
	border-left:#ccc 1px solid;
	border-bottom:#ccc 1px solid;
	border-right:#ccc 1px solid;
	border-radius:5px;
	box-shadow:#ddd 1px 1px;
	clear:both;
}

.search .input { 
	float:left; 
	width:88%;
	margin-top:3px;
	height:39px; 
	line-height:30px; 
	text-align:left;
	border:none;
	color:#333333;
	font-size:22px;
	text-indent:10px;
	margin-left:3px;
}

.search .btn { 
	float:right;
	width:10%;
	height:50px;
	background:#fff url(../indeximages/search.png) no-repeat center center;
	border:none;
	cursor:pointer;
	border-left:#ccc 1px solid;
}

.search .search_suggest {
	text-align: left;
	float: left; 
	width: 90%;
	z-index: 9999;
	margin-top: 0px;
	border: 1px solid #999999;
	display: none;
}
.search .search_suggest li {
	height: 30px;
	overflow:hidden;
	word-break: break-all;
	padding-left:3px;
	padding-right:5px;
	line-height:30px;
	background:#FFFFFF;
	cursor:default;
	color:#666666;
	font-size:20px;
	text-indent:10px;
}
.search .search_suggest li.hover {
	background:#EEEEEE;
}    


/* copyright */
.copyright { position:absolute; left:43%; bottom:50px; }
.copyright p { font-size:14px; line-height:30px; text-shadow:1px 1px #ccc; }
.copyright p span { color:#727171; }


